.root {
  min-height: 100vh;
  background-color: var(--ld-semantic-color-surface);
}

.main {
  width: 100%;
}

.contentContainer {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .contentContainer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.nativeNavWrapper {
  background-color: var(--ld-semantic-color-top-nav-fill);
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  box-sizing: border-box;
}

.nativeNavWrapperWhite {
  background-color: var(--ld-semantic-color-surface, #fff);
}

.mobileNavWrapper {
  display: block;
}
