.demoWrapper {
  background: var(--ld-semantic-color-background);
  padding: var(--ld-primitive-scale-space-800, 2rem);
  border-radius: var(--ld-primitive-scale-borderradius-100, 8px);
  box-shadow: var(--ld-semantic-elevation-100);
}
