.componentCard {
  text-decoration: none;
  display: block;
  padding: 24px;
  background-color: var(--ld-semantic-color-fill-surface-primary, #ffffff);
  box-shadow: var(--ld-semantic-elevation-100);
  border-radius: 8px;
  transition: box-shadow 0.2s, transform 0.2s;
  cursor: pointer;
}

.componentCard:hover {
  box-shadow: var(--ld-semantic-elevation-200);
  transform: translateY(-2px);
}
